[Desktop Entry]
Name=Termisol
Comment=Cross-platform terminal emulator
Exec=termisol
Icon=termisol
Type=Application
Categories=System;TerminalEmulator;
Terminal=false
