<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- VR Feature Requirements -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="false" />
    <uses-feature android:name="android.hardware.vr.high_performance" android:version="1" android:required="false" />
    <uses-feature android:name="android.software.vr.mode" android:required="false" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />

    <application
        android:label="${appLabel}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor">
            <!-- VR-specific metadata -->
            <meta-data android:name="com.oculus.intent.category.VR" android:value="vr_only"/>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
            <meta-data android:name="android.max_aspect" android:value="2.1"/>
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.oculus.intent.category.VR"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- VR permissions -->
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.EYE_TRACKING"/>
</manifest>
